.buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.button {
  width: 30%;
  min-width: 100px;
  height: 50px;
  background-color: $vivid_blue;
  color: $white;
  text-align: center;
  padding: 0 10px;
  line-height: 50px;
  cursor: pointer;
  text-transform: uppercase;
}