.modal {
    position: absolute;
    top: 40%;
    left: calc(50% - 100px);
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $very_light_gray;
    line-height: 50px;
    padding-left: 10px;
    border: 3px solid $soft_red;
    z-index: 999;
}
.modal-close {
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
}